.userSuggestionImage {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: black 2px solid;
    margin-top: 40px;
}

.userPostImage {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: black 2px solid;
    margin-top: 40px;
}

.postImagenes {
    width: 600px;
    height: 300px;
    position: relative;
    border-radius: 20px 20px 20px 20px;
}
.postImagenes img {
    width: 600px;
    height: 300px;
}

.postImagenes p {
    position: absolute;
    top: 75%;
    left: 10%;
}

.publicityImage {
    width: 130px;
    height: 130px;
    margin-top: 40px;

}

.columns {
    display: flex;
    justify-content: space-between;
}

.suggestions {
    padding: 30px;
    flex-direction: column;
}

.posts {
    padding: 10px;
    border: black 2px; /*no pone el dorde*/
}

.publicity {
    padding: 25px;
}
